<!DOCTYPE html>
<html>
  <head>
    <title>Order</title>
    <style type="text/css">
      img {
        width: 80px;
      }
      table {
        border:solid 1px;
        border-collapse:collapse;
      }
      tr,th {
        border:solid 1px;
        padding:3px 25px;
      }
      .no_border table, .no_border tr, .no_border th {
        border: hidden;
      }
    </style>
  </head>
  <body>
    <h1>Orders</h1>
      {% for o in orders %}
      <h3>{{ o.date_time.date }}</h3>
      <table border=solid cellspacing=10>
        <th width="200px">
          {% for i in o.items.all %}
            <div width="200px">
              <table class="no_border">
                <td>
                <img src="/static/img/{{ i.product.name }}.png">
                </td>
                <td>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'amazon:view_product' i.product.p_id %}"> {{ i.product.name }} </a></p>
                </td>
              </table>
            </div>
          {% endfor %}
        </th>
        <th> $ {{o.total}} </th>
        <th><a href="{% url 'amazon:view_order_detail' o.o_id %}">details</br></br>
        <a href="{% url 'amazon:buy_again' o.o_id %}">buy again</th>
      </table></br>
      {% endfor %}

    <a href="{% url 'amazon:view_order' %}">back</a></p>
  </body>
</html>
