<!DOCTYPE html>
<html>
  <head>
    <title>Buy</title>
    <style>
      img {
        width: 300px;
      }
    </style>
  </head>
  <body>
    <h1>Buy {{ product.name }}</h1>
    <img src="/static/img/{{ product.name }}.png"></br>
    <h3> price: ${{ product.price }} </h3>
    <form action={% url 'amazon:view_product' product.p_id %} method="post">
    {% csrf_token %}
      Quantity: <input type="number" min="1" max="100"  name="count" value="1" required> (Maximum allowable quantity: 100) </br>
      <input type="submit" value="Add to Cart" name="add_to_cart">
      <input type="submit" value="Buy Now" name="buy_now">
    </form>
    <a href="{% url 'amazon:home' %}">back</a></p>
  </body>
</html>
