<!DOCTYPE html>
<html>
  <head>
    <title>Edit Info</title>
  </head>
  <body>
    <h1>Edit user info</h1>
      <form action={% url 'user:change_info' %} method="post">
        {% csrf_token %}
        {% if error_msg %}
          <p> <font color="red">{{error_msg}}</font></p>
        {% endif %}
        <h3>User Info</h3>
        Username: {{user.username}}</br></br>
        Email: {{user_form.email}}</br></br>
        <h3>Optional Info </h3>
        Address (x, y): {{optional_form.loc_x}}, {{optional_form.loc_y}}</br></br>
        Ups Account: {{optional_form.ups_account}}</br></br>
        Credit Card Number: {{optional_form.card_number}}</br></br>
        <input type="submit" value="Change">
      </form>
    </br><a href="{% url 'amazon:home'%}"> cancel </a>
  </body>
</html>
